 <!-- End Main -->

  <div class="container">
    <h1 class="text-center mb-4">{{ addressData.sectionTitle }}</h1>


    <p>
      <!--!data {{}}-->
      {{addressData.data.street}}, {{addressData.data.number}}, {{addressData.data.complement}},     {{addressData.data.district}}
    </p>
    <p>
     {{addressData.data.zipCode}}  -  {{addressData.data.city}}, {{addressData.data.state}}
    </p>



    <!--teste-->
   <!-- <p [innerHTML]=" getCity2() "> </p>-->

    <!--leitura variavel {{}}-->
    <!--<p>{{endereco}}</p>-->

    <!--leitura de propriedade chumbada}-->
    <!--<p innerHTML = "{{addressData2.street}}, {{addressData2.number}}"></p>-->
    <!--<p [innerHTML]=" getCity() "> </p>-->


  </div>


<!-- End Main -->
